appdirs==1.4.3
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
Cython==0.29.17
Deprecated==1.2.9
distlib==0.3.0
filelock==3.0.12
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.4.24
httpx==0.11.1
hyperframe==5.2.0
idna==2.9
more-itertools==8.2.0
Pillow==7.1.2
pipenv==2018.11.26
PyQt5==5.14.2
PyQt5-sip==12.7.2
pyqt5-tools==5.14.2.1.7b3
PyQt5Designer==5.14.1
pytesseract==0.3.4
python-dotenv==0.13.0
qdarkgraystyle==1.0.2
requests==2.23.0
rfc3986==1.4.0
six==1.14.0
sniffio==1.1.0
tesseract==0.1.3
urllib3==1.25.9
virtualenv==20.0.18
virtualenv-clone==0.5.4
wrapt==1.12.1
